@font-face {
    font-family: "Poppins";
    src: url(../fonts/poppins.ttf);
}

@font-face {
    font-family: "Bebas";
    src: url(../fonts/bebas.ttf);

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

body {
    background-image: url(../img/fondo.jpg);
    background-size: cover;
    background-position: center;
}

.top-header {
    height: 25px;
    width: 100%;
    background-color: #da3d92;
    border: 1px solid black;
}

nav {
    background-color: #e090a5;
}

.logo {
    height: 70px;
    width: 200px;
}

.navbar {
    padding: 0;
}

.figure-logo {
    margin: 0;
}

.contenedor-iconos {
    display: flex;
    gap: 1.5em;
}

.contenedor-iconos a {
    color: black;
}

.nav-izq {
    display: flex;
    align-items: center;
}

.catalogo {
    padding: 6px;
    border: 1px solid black;
    background-color: white;
    color: black;
    text-decoration: none;
}

.navbar-nav li a{
    color: black;
}

.navbar-nav li a:hover{
    color: white;
    text-decoration: underline;
}

.container-fluid {
    padding: 0;
}

/* --Main-- */
.imagen-principal {
    background-image: url(../img/gomitas.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 700px;
    width: 100%;
    position: relative;
}

.imagen {
    width: 100%;
    height: 100%;
}

.frase {
    font-family: "Bebas";
    position: absolute;
    top: 120px;
    font-size: 4rem;
    width: 100%;
    text-align: center;
    color: whitesmoke;
}

/* INDEX */

.informacion {
    margin-top: 16px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 16px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 15px;
}

.somos {
    text-align: center;
    align-self: center;
}

.img-1 {
height: 350px;
max-width: 912px;
justify-self: center;
}

.img-1 img {
    width: 100%;
    height: 100%;
    }

.img-2 {
height: 350px;
max-width: 912px;
justify-self: center;
}

.img-2 img {
    width: 100%;
    height: 100%;
}

.nosotros {
text-align: center;
align-self: center;
}


/* Footer */
.footer {
    width: 100%;
    background-color: #d3d9cd;
    border-top: 1px solid #b1b9a9;
    display: flex;
    justify-content: space-between;
}

.footer-uno {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-footer {
    width: 200px;
    height: 70px;
}

.ul-footer li {
    font-family: "Poppins";
    display: flex;
    flex-direction: column;
    line-height: 30px;
}

.contacto-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    word-spacing: 20px;
}

.contacto-footer ul li a {
    color: #000;
    text-decoration: underline;

}

.redes-footer {
    font-size: 19px;
}

.iconos-footer {
    position: relative;
    top: 7px;
}

/* CATALOGO.HTML */

.titulo-productos {
    font-family: "Poppins";
}

.productos {
    display: flex;
    justify-content: center;
    padding-top: 70px;
}

.ventas {
    display: grid;
    grid-template-columns: 300px auto ;
}

.tarjetas {
    width: 220px;
    height: 290px;
    background-color: red;
    border: 2px solid black;
    border-radius: 20px;
    overflow: hidden;
}

.tarjetas-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 4em;
    margin-top: 20px;
    margin-right: 1em;
    margin-bottom: 1.2em;
    justify-content: center;
}

.tarjetas img {
    width: 100%;
    height: 170px;
}

.body-tarjeta {
    padding: 10px;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tarjetas a {
    align-self: center;
    text-decoration: none;
    font-size: 1rem;
    border: 1px solid black;
    background-color: whitesmoke;
    border-radius: 20px;
    padding: 7px;
}

.body-tarjeta span {
    font-size: 1.2rem;
}

.filtros {
    width: 150px;
    height: 270px;
    background-color: bisque;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 15px;
    overflow: hidden;
    justify-self: center;
    margin-top: 20px;
}

.filtros h2 {
    text-decoration: underline;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.filtros ul li {
    line-height: 30px;
}

.filtros-mobile{
    display: none;
}

.filtros-mobile a{
    color: black;
}

/* Contactanos */

.titulo-contactanos {
    padding-top: 70px;
    font-family: "Poppins";
    display: flex;
    justify-content: center;
}

.div-mapa {
    margin-top: 4px;
    height: 600px;
    display: flex;
    justify-content: center;
}

.map-border {
    border: 1px solid black;
    overflow: hidden;
}

.contacto-form-center {
    margin-top: 10px;
    height: 700px;
    display: flex;
    justify-content: center;
}

.contacto-form {
    background-color: #c9fdfb;
    height: 650px;
    width: 1190px;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
}

.info {
    padding-top: 10px;
    width: 580px;
    height: 650px;
    font-family: "Poppins";
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    line-height: 40px;
}

.titulo-informacion {
    text-align: center;
    font-size: 26px;
}

.info p {
    padding-left: 22px;
}

.info span {
    padding-left: 5px;
}

.form {
    width: 580px;
    height: 650px;
    font-family: "Poppins";
    border-left: 2px solid black;
    border-bottom: 2px solid black;
}

.titulo-form {
    text-align: center;
    font-size: 26px;
}

.form-contactanos {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.form-contactanos input {
    width: 250px;
    padding: 5px;
}

.label-titulo {
    position: relative;
    right: 88px;
}

.label-titulo-dos {
    position: relative;
    right: 47px;
}

#motivo {
    width: 250px;
    resize: none;
}

/* PAGOS Y ENVIOS */

.titulo-pagos-envios {
    padding-top: 70px;
    margin-bottom: 7px;
    text-align: center;
    font-family: "Poppins";
}

.seccion-envios {
    font-family: "Poppins";
}

.contenedor-article {
    height: 400px;
    display: flex;
    justify-content: center;
}

.envios {
    margin-top: 30px;
    background-color: #E0AEB0;
    height: 370px;
    width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: solid 2px black;
    border-radius: 10px;
}

.titulo-envios {
    padding-top: 10px;
}

.titulo-pagos {
    padding-top: 10px;
}

.parrafo-envios {
    height: 300px;
    width: 1150px;
    font-size: 20px;
}

.seccion-pagos {
    font-family: "Poppins";
}

.pagos {
    background-color: #E0AEB0;
    height: 370px;
    width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: solid 2px black;
    border-radius: 10px;

}

.parrafo-pagos {
    height: 300px;
    width: 1150px;
    font-size: 20px;
}

.contenedor-cajas {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/* PERFIL */

.seccion-perfil {
    font-family: "Poppins";
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-box {

    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    box-shadow: 0 10px 30px #000;
    border-radius: 20px;
}

.form-box h2 {
    color: #000;
    position: relative;
    bottom: 70px;
}

.label-gmail {
    position: absolute;
    top: 429px;
    left: 780px;
    font-size: 20px;
}

.label-password {
    position: absolute;
    top: 500px;
    left: 780px;
    font-size: 20px;
}

#gmail,
#password {
    width: 300px;
    margin: 20px;
    padding: 6px;
    border-radius: 5px;
    overflow: hidden;
}

#recordar {
    position: relative;
    left: 7px;
}

.form-recordar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.enviar {
    display: flex;
    justify-content: center;
}

.btn-enviar {
    margin-top: 20px;
    padding: 7px 27px;
    font-family: "Poppins";
}

.registrar {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

/* MEDIAS */

@media (max-width:600px) {

    .informacion {
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: 1fr;
    }
    
    .nosotros {
        grid-row: 3/4;
    }
    
    .img-2 {
        margin-bottom: 16px;
    }

    .footer-3 {
        display: none;
    }

    .footer {
        flex-direction: column;
    }

    .footer-uno{
        align-items: flex-start;
    }

    .contacto-footer {
        justify-content: flex-end;
        margin-right: 5px;
        border-top: 2px dashed black;
    }

    .ventas{
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }

    .filtros{
        display: none;
    }
    
    .filtros-mobile{
        display: block;
    }

    .filtros-mobile{
        grid-row: 1/2;
        justify-self: center;
    }

    .tarjetas-grid{
        grid-row: 2/3;
        justify-self: center;
        margin-left: 1em;
    }
}

@media (max-width:295px){
    .nav-izq{
        flex-direction: column;
    }
}