@font-face {
  font-family: "Poppins";
  src: url(../fonts/poppins.ttf);
}
@font-face {
  font-family: "Bebas";
  src: url(../fonts/bebas.ttf);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

body {
  background-image: url(../img/fondo.jpg);
  background-size: cover;
  background-position: center;
}

.footer {
  width: 100%;
  background-color: #d3d9cd;
  border-top: 1.7px solid #b1b9a9;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 600px) {
  .footer {
    flex-direction: column;
  }
}
.footer .footer-uno {
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 600px) {
  .footer .footer-uno {
    align-items: flex-start;
  }
}
.footer .footer-uno .logo-footer {
  width: 200px;
  height: 70px;
}
.footer .footer-uno li {
  font-family: "Poppins";
  display: flex;
  flex-direction: column;
  line-height: 30px;
}
.footer .contacto-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  word-spacing: 20px;
}
@media (max-width: 600px) {
  .footer .contacto-footer {
    justify-content: flex-end;
    margin-right: 5px;
    border-top: 2px dashed black;
  }
}
.footer .contacto-footer a {
  color: #000;
  text-decoration: underline;
  font-size: 19px;
}
.footer .contacto-footer .iconos-footer {
  position: relative;
  top: 7px;
}
@media (max-width: 600px) {
  .footer .footer-3 {
    display: none;
  }
}

.top-header {
  height: 25px;
  width: 100%;
  background-color: #da3d92;
  border: 1px solid black;
}

nav {
  background-color: #e090a5;
  padding: 0;
}
nav .container-fluid {
  padding: 0;
}
nav .container-fluid .nav-izq {
  display: flex;
  align-items: center;
}
nav .container-fluid .nav-izq figure {
  margin: 0;
}
nav .container-fluid .nav-izq figure .logo {
  height: 70px;
  width: 200px;
}
nav .container-fluid .nav-izq .catalogo {
  padding: 6px;
  border: 1px solid black;
  background-color: white;
  color: black;
  text-decoration: none;
}
nav .container-fluid .navbar-nav li a {
  color: black;
}
nav .container-fluid .navbar-nav li a:hover {
  color: white;
  text-decoration: underline;
  transform: scale(1.12);
  transition: 0.2s;
}
nav .container-fluid .contenedor-iconos {
  display: flex;
  gap: 1.5em;
  margin-right: 7px;
}
nav .container-fluid .contenedor-iconos a {
  color: black;
}

header .navbar {
  padding: 0;
}

.imagen-principal {
  background-image: url(../img/gomitas.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 700px;
  width: 100%;
  position: relative;
}
.imagen-principal h1 {
  font-family: "Bebas";
  position: absolute;
  top: 120px;
  font-size: 4rem;
  width: 100%;
  text-align: center;
  color: whitesmoke;
}

.informacion {
  margin-top: 16px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 16px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 15px;
}
@media (max-width: 600px) {
  .informacion {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 1fr;
  }
}
.informacion .somos {
  text-align: center;
  align-self: center;
  font-size: 1.3rem;
}
.informacion .somos h2 {
  font-size: 2.2rem;
  text-decoration: underline;
}
.informacion .somos p {
  font-family: "Poppins";
}
.informacion .img-1 {
  height: 350px;
  max-width: 912px;
  justify-self: center;
  box-shadow: 1px 1px 10px black;
}
.informacion .img-1 img {
  width: 100%;
  height: 100%;
}
.informacion .img-2 {
  height: 350px;
  max-width: 912px;
  justify-self: center;
  box-shadow: 1px 1px 10px black;
}
@media (max-width: 600px) {
  .informacion .img-2 {
    margin-bottom: 16px;
  }
}
.informacion .img-2 img {
  width: 100%;
  height: 100%;
}
.informacion .nosotros {
  text-align: center;
  align-self: center;
  font-size: 1.3rem;
}
@media (max-width: 600px) {
  .informacion .nosotros {
    grid-row: 3/4;
  }
}
.informacion .nosotros p {
  font-family: "Poppins";
}

.titulo-producto div {
  display: flex;
  justify-content: center;
  padding-top: 70px;
}
.titulo-producto div h1 {
  font-family: "Poppins";
}

.ventas {
  display: grid;
  grid-template-columns: 300px auto;
}
@media (max-width: 600px) {
  .ventas {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }
}
.ventas .filtros {
  width: 150px;
  height: 270px;
  background-color: bisque;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  border-radius: 15px;
  overflow: hidden;
  justify-self: center;
  margin-top: 20px;
}
@media (max-width: 600px) {
  .ventas .filtros {
    display: none;
  }
}
.ventas .filtros h2 {
  text-decoration: underline;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.ventas .filtros li {
  line-height: 30px;
}
.ventas .filtros-mobile {
  display: none;
}
@media (max-width: 600px) {
  .ventas .filtros-mobile {
    display: block;
    grid-row: 1/2;
    justify-self: center;
  }
}
.ventas .filtros-mobile a {
  color: black;
}
.ventas .tarjetas-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 4em;
  margin-top: 20px;
  margin-right: 1em;
  margin-bottom: 1.2em;
  justify-content: center;
}
@media (max-width: 600px) {
  .ventas .tarjetas-grid {
    grid-row: 2/3;
    justify-self: center;
    margin-left: 1em;
  }
}
.ventas .tarjetas-grid .tarjetas {
  width: 220px;
  height: 290px;
  background-color: red;
  border: 2px solid black;
  border-radius: 20px;
  overflow: hidden;
}
.ventas .tarjetas-grid .tarjetas img {
  width: 100%;
  height: 170px;
}
.ventas .tarjetas-grid .tarjetas .body-tarjeta {
  padding: 10px;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.ventas .tarjetas-grid .tarjetas .body-tarjeta span {
  font-size: 1.2rem;
}
.ventas .tarjetas-grid .tarjetas a {
  align-self: center;
  text-decoration: none;
  font-size: 1rem;
  border: 1px solid black;
  background-color: whitesmoke;
  border-radius: 20px;
  padding: 7px;
}

.titulo-contactanos {
  padding-top: 70px;
  font-family: "Poppins";
  display: flex;
  justify-content: center;
}

.div-mapa {
  margin: 4px 1em 0;
  height: 600px;
  display: flex;
  justify-content: center;
}
.div-mapa div {
  border: 1px solid black;
  overflow: hidden;
}

.contacto-form-center {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
.contacto-form-center .contacto-form {
  border: 1px solid black;
  display: flex;
  gap: 1em;
}
.contacto-form-center .contacto-form .info {
  background-color: #c9fdfb;
  padding-top: 10px;
  justify-content: center;
  font-family: "Poppins";
  border-right: 2px solid black;
  line-height: 40px;
}
.contacto-form-center .contacto-form .info h3 {
  text-align: center;
  font-size: 26px;
}
.contacto-form-center .contacto-form .info span {
  padding-left: 5px;
}
.contacto-form-center .contacto-form .info p {
  padding-left: 22px;
}
.contacto-form-center .contacto-form .form {
  background-color: #c9fdfb;
  padding: 0 9em;
  font-family: "Poppins";
  border-left: 2px solid black;
}
.contacto-form-center .contacto-form .form h3 {
  text-align: center;
  font-size: 26px;
}
.contacto-form-center .contacto-form .form form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contacto-form-center .contacto-form .form form input {
  width: 250px;
  padding: 5px;
}
.contacto-form-center .contacto-form .form form label {
  position: relative;
  right: 88px;
}
.contacto-form-center .contacto-form .form form .label-titulo-dos {
  position: relative;
  right: 47px;
}
.contacto-form-center .contacto-form .form form #motivo {
  width: 250px;
  resize: none;
}
.contacto-form-center .contacto-form .form form #enviar {
  margin-bottom: 0.7em;
}

@media (max-width: 1100px) {
  .contacto-form-center .contacto-form {
    flex-direction: column;
    width: 60%;
  }
  .contacto-form-center .contacto-form .form {
    padding: 0 3em;
  }
  .contacto-form-center .contacto-form .form form {
    align-items: normal;
  }
  .contacto-form-center .contacto-form .form form input {
    width: auto;
  }
  .contacto-form-center .contacto-form .form form #motivo {
    width: auto;
  }
  .contacto-form-center .contacto-form .form form label {
    position: static;
  }
  .contacto-form-center .contacto-form .form form .label-titulo-dos {
    position: static;
  }
  .contacto-form-center .contacto-form .info {
    border-bottom: 1px solid black;
    align-items: center;
  }
}
@media (max-width: 378px) {
  .contacto-form-center .contacto-form .form {
    padding: 0 1px 0 0;
  }
  .contacto-form-center .contacto-form .info p {
    padding-left: 0;
    width: 100%;
  }
}
.titulo-pagos-envios {
  padding-top: 70px;
  margin-bottom: 7px;
  text-align: center;
  font-family: "Poppins";
}

.contenedor-cajas {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.contenedor-cajas .seccion-envios {
  font-family: "Poppins";
}
.contenedor-cajas .seccion-envios .contenedor-article {
  display: grid;
  grid-template-columns: 1fr 7fr 1fr;
}
.contenedor-cajas .seccion-envios .contenedor-article article {
  margin-top: 30px;
  background-color: #E0AEB0;
  border: solid 2px black;
  border-radius: 10px;
  grid-column: 2/3;
}
.contenedor-cajas .seccion-envios .contenedor-article article h2 {
  padding-top: 10px;
  text-align: center;
  text-decoration: underline;
}
.contenedor-cajas .seccion-envios .contenedor-article article p {
  font-size: 20px;
  padding: 0 1.2em;
}
.contenedor-cajas .seccion-pagos {
  font-family: "Poppins";
}
.contenedor-cajas .seccion-pagos .contenedor-article {
  display: grid;
  grid-template-columns: 1fr 7fr 1fr;
  margin-bottom: 2em;
}
.contenedor-cajas .seccion-pagos .contenedor-article article {
  margin-top: 30px;
  background-color: #E0AEB0;
  border: solid 2px black;
  border-radius: 10px;
  grid-column: 2/3;
}
.contenedor-cajas .seccion-pagos .contenedor-article article h2 {
  padding-top: 10px;
  text-align: center;
  text-decoration: underline;
}
.contenedor-cajas .seccion-pagos .contenedor-article article p {
  font-size: 20px;
  padding: 0 1.2em;
}

.seccion-perfil {
  font-family: "Poppins";
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.seccion-perfil .form {
  padding: 4.5em 3em;
  margin: 0 1.3em;
  border-radius: 10px;
  box-shadow: 0 7px 20px;
  text-align: center;
}
.seccion-perfil .form-tittle {
  margin-bottom: 0.5em;
}
@media (max-width: 600px) {
  .seccion-perfil .form-tittle {
    font-size: 2.2rem;
  }
}
.seccion-perfil .form-container {
  margin-top: 3em;
  display: grid;
  gap: 2.5em;
}
.seccion-perfil .form-container div {
  position: relative;
}
.seccion-perfil .form-container div input {
  width: 100%;
  background: none;
  font-size: 1rem;
  padding: 0.6em 0.3em;
  border: none;
  outline: none;
  border-bottom: 1px solid black;
  font-family: "Poppins";
}
.seccion-perfil .form-container div input:focus + label, .seccion-perfil .form-container div input:not(:placeholder-shown) + label {
  transform: translateY(-12px) scale(0.7);
  transform-origin: top left;
  color: #3866f2;
}
.seccion-perfil .form-container div label {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 5px;
  transform: translateY(10px);
  transition: transform 0.5s;
}
.seccion-perfil .form-container .form-submit {
  font-size: 1rem;
  padding: 0.8em 0;
  border: none;
  border-radius: 0.5em;
}
.seccion-perfil .form-recordar {
  margin-top: 1em;
  text-align: start;
}

/*# sourceMappingURL=style.css.map */
