.titulo-pagos-envios {
    padding-top: 70px;
    margin-bottom: 7px;
    text-align: center;
    font-family: $tipografia-principal;
}

.contenedor-cajas {
    display: flex;
    flex-direction: column;
    gap: 30px;

    .seccion-envios {
        font-family: $tipografia-principal;

        .contenedor-article {
            display: grid;
            grid-template-columns: 1fr 7fr 1fr;

            article{
                margin-top: 30px;
                background-color: #E0AEB0;
                border: solid 2px black;
                border-radius: 10px;
                grid-column: 2/3;

                h2{
                    padding-top: 10px;
                    text-align: center;
                    text-decoration: underline;
                }

                p{
                    font-size: 20px;
                    padding: 0 1.2em;
                }
            }
        }
    }

    .seccion-pagos {
        font-family: $tipografia-principal;

        .contenedor-article {
            display: grid;
            grid-template-columns: 1fr 7fr 1fr;
            margin-bottom: 2em;

            article{
                margin-top: 30px;
                background-color: #E0AEB0;
                border: solid 2px black;
                border-radius: 10px;
                grid-column: 2/3;

                h2{
                    padding-top: 10px;
                    text-align: center;
                    text-decoration: underline;
                }

                p{
                    font-size: 20px;
                    padding: 0 1.2em;
                }
            }
        }
    }
}