.seccion-perfil {
    font-family: $tipografia-principal;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .form-box{
        height: 500px;
        width: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 1px solid black;
        box-shadow: 0 10px 30px #000;
        border-radius: 20px;

        h1{
            color: #000;
            position: relative;
        }

        form{
            .form-gmail{
                label{
                    position: absolute;
                    top: 429px;
                    left: 780px;
                    font-size: 20px;
                }

                input{
                    width: 300px;
                    margin: 20px;
                    padding: 6px;
                    border-radius: 5px;
                    overflow: hidden;
                }
            }

            .form-password{
                label{
                    position: absolute;
                    top: 500px;
                    left: 780px;
                    font-size: 20px;
                }

                input{
                    width: 300px;
                    margin: 20px;
                    padding: 6px;
                    border-radius: 5px;
                    overflow: hidden;
                }
            }

            .form-recordar {
                display: flex;
                align-items: center;
                justify-content: center;

                input{
                    position: relative;
                    left: 7px;
                }
            }

            .enviar {
                display: flex;
                justify-content: center;

                input{
                    margin-top: 20px;
                    padding: 7px 27px;
                    font-family: $tipografia-principal;
                }
            }
            
            .registrar {
                margin-top: 20px;
                display: flex;
                justify-content: center;

                
            }
        }
    }
}