.seccion-perfil {
    font-family: $tipografia-principal;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .form-perfil{
        padding: 4.5em 3em;
        margin: 0 1.3em;
        border-radius: 10px;
        box-shadow: 0 7px 20px;
        text-align: center;

        &-tittle{
            margin-bottom: .5em;

            @include mobile(){
                font-size: 2.2rem;
            }
        }

        &-container{
            margin-top: 3em;
            display: grid;
            gap: 2.5em;

            div{
                position: relative;

                input{
                    width: 100%;
                    background: none;
                    font-size: 1rem;
                    padding: .6em .3em;
                    border: none;
                    outline: none;
                    border-bottom: 1px solid black;
                    font-family: $tipografia-principal;

                    &:focus + label, &:not(:placeholder-shown) + label{
                        transform: translateY(-12px) scale(.7);
                        transform-origin: top left;
                        color: #3866f2;
                    }
                }

                label{
                    cursor: pointer;
                    position: absolute;
                    top: 0;
                    left: 5px;
                    transform: translateY(10px);
                    transition: transform .5s;
                }
            }

            .form-submit{
                font-size: 1rem;
                padding: .8em 0;
                border: none;
                border-radius: .5em;
            }
        }

        &-recordar{
            margin-top: 1em;
            text-align: start;
        }
    }
}
